@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dropdown:hover .dropdown-menu {
    display: block;
}

#owl-carousel-products .owl-nav {
    position: absolute;
    top: 4rem;
    right: 0;
    left: -2%;
    width: 104%;
}

#owl-carousel-slides .owl-nav {
    position: absolute;
    top: 320px;
    width: 96%;
    z-index: 990;
    margin-left: 2%;
}