@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
    --global-color-primary: #d1693a;
    --global-color-secondary: #078ec9;
    --e-icon-list-icon-size: 35px;
    --e-icon-list-icon-size-2: 20px;
    --spacer-size: 227px;
    --space-between: 3%;

    @media(max-width: 1024px) {
        --e-icon-list-icon-size: 23px;
        --spacer-size: 25px;
    }
}

html {
  scroll-behavior: smooth;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#owl-carousel-products .owl-nav {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    right: 0;
    left: -2%;
    width: 104%;
}

@media(max-width: 488px) {
    #owl-carousel-products .owl-nav {
        top: 20%;
        transform: translateY(-50%);
        transition: all 0.3s ease-in-out;
    }
}

#owl-carousel-slides .owl-nav {
    position: absolute;
    width: 96%;
    z-index: 9;
    margin-left: 2%;
    top: 40%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

#owl-carousel-slides .owl-dots {
    position: absolute;
    bottom: 30px;
    z-index: 9;
    width: 100%;
}

@media(max-width: 488px) {
  #owl-carousel-slides .owl-dots {
    bottom: 5px;
  }
  .owl-dots button.owl-dot {
    width: 10px !important;
    height: 10px !important;
  }
}
  
  .owl-dots {
    text-align: center;
    padding-top: 15px;
  }
  .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #000 !important;
    margin: 0 3px;
    opacity: 20%;
  }
  .owl-dots button.owl-dot.active {
    background-color: #d1693a !important;
    opacity: 100%;
  }
  .owl-dots button.owl-dot:focus {
    outline: none;
  }
  .owl-nav button:focus {
      outline: none;
  }

  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
    position: fixed;
    top: 35px;
    left: 20px;
    width: 26px;
    height: auto;
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: absolute;
    top: 35px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 19;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 9;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  nav .m-menu__overlay {
    background-color: rgba(103, 103, 103, 0.5);
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 5;
    display: none;
    position: fixed; 
    inset: 0;
    overflow: hidden;
    overscroll-behavior: contain;
  }

  nav #menu__toggle:checked ~ .m-menu__overlay {
    display: block;
  }